name: Setup Java

on:
  workflow_dispatch:

jobs:
  setup-java:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

